*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.icono{
    font-size: 100px;
    color: antiquewhite;
    cursor: pointer;
    display: flex;
}
.icono:hover{
    color: green;
}
body{
    background-image:url("./abstract-technology-digital-futuristic-concept-glow-neon-colors-lines-with-lighting-effect-perspective-on-dark-blue-background-vector.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
}
.contenedor_general{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 5px solid red;
    border-radius: 10px;
    min-height: 600px;
    background: rgba(0,0,0,0.7);
    gap: 35px;
}
.contenedorOpciones{
    padding: 15px;
    width: 100%;
    max-width: 600px;
    border: 5px solid red;
    background: rgba(0,0,0,0.7);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 120px;
}
h1{
    font-size: 50px;
    color: aliceblue;
    margin-top: 30px;
}
h2{
    font-size: 40px;
    color: aliceblue;
} 
a{
    margin-top: 10px;
    background: rgba(0,0,0,0.7);
    text-decoration: none;
    border: 5px solid red;
    border-radius: 10px;
    color: white;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    font-size: 30px
}